@font-face {
    font-family: 'Bauhaus93';
    src: url('./Forte.TTF') format('truetype');
}

body {
    background-color: darkslateblue;
    background-image: linear-gradient(to bottom, darkblue, darkslateblue, darkblue);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600vh;
}

header {
    font-size: 3rem;
    color: darkorange;
    font-family: 'Forte';
    text-align: center;
}
